/data/opt_output/
/data/denmark_energy_hub/
**/__pycache__
/.idea/

# output results or intermediate results
/data/opt_output/
/data/cls_file/
/tools/analysis_lp_new.txt
/tools/analysis_lp_temp.txt
gurobi.log

# files for Mac OS
.DS_Store
*/.DS_Store

.idea/
.DS_Store
*/.DS_Store