# admin file for git and pycharm
**/__pycache__
/.idea/
.idea/

# output results or intermediate results
/data/opt_output/
/data/cls_file/
/data/denmark_energy_hub/
/utils/analysis_lp_new.txt
/utils/analysis_lp_temp.txt
gurobi.log

# files for Mac OS
.DS_Store
*/.DS_Store

../venv
../../docs_test
/preprocessing
/postprocessing_gitignore/
/postprocessing/analysis_data.py
/postprocessing/analysis_data_2.py
/postprocessing/analysis_data_gdp.py
/postprocessing/gdp_subsidy.csv
/postprocessing/subsidy_data.csv
/postprocessing/subsidy_data_2.csv
/postprocessing/subsidy_data_complete.csv
/data/weather_data/Aachen
/data/weather_data/Augsburg
/data/weather_data/Berlin
/data/weather_data/Bochum
/data/weather_data/Bonn
/data/weather_data/Braunschweig
/data/weather_data/Bremen
/data/weather_data/Darmstadt
/data/weather_data/Emden
/data/weather_data/Erlangen
/data/weather_data/Essen
/data/weather_data/Fuerth
/data/weather_data/Hamburg
/data/weather_data/Hannover
/data/weather_data/Heidelberg
/data/weather_data/Jena
/data/weather_data/Kiel
/data/weather_data/Koblenz
/data/weather_data/Koeln
/data/weather_data/Luebeck
/data/weather_data/Mannheim
/data/weather_data/Mainz
/data/weather_data/Muenchen
/data/weather_data/Oberhausen
/data/weather_data/Oldenburg
/data/weather_data/Potsdam
/data/weather_data/Regensburg
/data/weather_data/Schweinfurt
/data/weather_data/Stuttgart
/data/weather_data/Ulm
/data/weather_data/Wiesbaden
/data/weather_data/Wolfsburg
/data/weather_data/Wuerzburg
/data/topology/basic_chp.csv
/data/topology/basic_new.csv
/data/topology/basic_new_af.csv
/data/topology/basic_new_at.csv
/data/topology/basic_new_bf.csv
/data/topology/basic_new_bt.csv
/data/topology/basic_no_boi.csv
/data/topology/basic_no_boi_a.csv
/data/topology/basic_no_boi_b.csv
/data/topology/basic_no_pv.csv
/data/topology/basic_only_solar_coll.csv
