# admin file for git, pycharm and venv
**/__pycache__
/.idea/
.idea/
../venv

# output results or intermediate results
/data/opt_output/
/data/opt_input/
/data/cls_file/
/examples/plot_example/
gurobi.log

# files for Mac OS
.DS_Store
*/.DS_Store

